* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

header {
  height: 10vh;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
header h1 {
  font-size: 25px;
}
.search-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.search-container input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
}
.search-container select {
  width: 150px;
  padding: 10px;
}

.countries {
  padding: 50px 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.country {
  height: 330px;
  width: 250px;
  border-radius: 5px;
  margin-bottom: 35px;
  margin-right: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.flag {
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.go-back {
  padding: 0 50px;
  margin-top: 25px;
}
.go-back button {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid grey;
}

.container {
  height: 75vh;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.details-container {
  height: 50%;
  padding: 15px;
}

.details-container h3 {
  margin-bottom: 15px;
}
.details-container p {
  margin-bottom: 5px;
  font-weight: bold;
}
.left p,
.right p {
  font-size: 18px;
  font-weight: bold;
}

.left span,
.right span {
  font-size: 18px;
  font-weight: normal;
}

.details-container span {
  font-weight: 100;
}

.flag-container {
  border: 1px solid grey;
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.advanced-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.advanced-details h3 {
  margin-bottom: 20px;
}

.left-right {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.left-right p {
  margin-bottom: 5px;
}

.border h3 {
  margin-bottom: 0;
}

.border {
  display: flex;
  align-items: center;
}

.border li {
  min-width: 100px;
  list-style: none;
  margin-left: 10px;
  border: 1px solid grey;
  padding: 5px 20px;
  border-radius: 5px;
  /*font-size: 1rem*/
}

.border-country {
  color: red;
  font-weight: bold;
  margin-left: 10px;
  border: 1px solid transparent;
  padding: 5px 20px;
  border-radius: 5px;
}

.border ul {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1380px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .container img {
    width: 50%;
    height: 100%;
  }
  .flag-container {
    border: 1px solid grey;
    width: 600px;
    height: 400px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .go-back {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 795px) {
  .countries {
    justify-content: center;
  }
  .container {
    height: auto;
    padding: 0 5px;
  }
  .advanced-details {
    width: 100%;
    margin: 0;
  }
  .container img {
    margin-bottom: 15px;
    width: 100%;
    height: 70%;
  }
  .left-right {
    flex-direction: column;
  }
  .border {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .border ul {
    display: flex;
    flex-direction: column;
  }
  .border ul li {
    margin-bottom: 5px;
  }
}
